
@{
    ViewData["Title"] = "Index6";
    Layout = "~/Pages/Shared/_TestLayout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    Index6
</body>
</html>

