@using KmuDolmus.Models
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_TestLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V6</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/Login_v6/" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Login_v6/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Login_v6/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Login_v6/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Login_v6/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Login_v6/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Login_v6/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Login_v6/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Login_v6/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Login_v6/css/util.css">
    <link rel="stylesheet" type="text/css" href="/Login_v6/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-0 p-b-0">
                <form class="login100-form validate-form">
                   
                    <span class="login100-form-title p-b-30">
                        Karamanoğlu Mehmetbey Üniversitesi Dolmuş Hat Ve Seferleri Ana Sayfası
                    </span>
                    <span class="login100-form-avatar p-b-30">
                        <img src="~/Login_v6/images/kmu.jpg">
                    </span>
                </form>
               
            </div>
           
        </div>
    </div>

   
        


</body>
</html>
