<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
    <title>Üye Kayıt Olma Sayfası</title>
    <link rel="stylesheet" type="text/css" href="~/signup_catalytic_originals-master/form.css">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.png" />

</head>
<body>
    <div class="container">
        <center><h2 id="title" class="text-center">Üye Kayıt Olma Sayfası</h2></center>
        <header class="header">

            <center>
                <a href="https://pranjay-poddar.github.io/catalytic_originals/" id="des" class="desc" style="font-size: 110%;">Üye Kayıt Olma Sayfası</a>
            </center>
            <br>
           
        </header>
        <form id="survey-form" name="form1">
            <br>
            <div class="form-group">
                <label id="name-label" for="Name">Ad</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Adınızı Giriniz" required>
            </div>
            <br>
            <div class="form-group">
                <label id="name-label" for="Name">Soyad</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Soyadınızı Giriniz" required>
            </div>
            <br>
            <div class="form-group">
                <label id="email-label" for="Email">Email</label>
                <input type="text" name="email" id="email" class="form-control" placeholder="Enter Your Email" required>
            </div>
           
            <br>
            <div class="form-group">
                <label id="password-label" for="password">Şifre</label>
                <input type="password" name="password1" id="password1" class="form-control" placeholder="Kullanıcı Şiresi" required>
            </div>
            <br>
            <div class="form-group">
                <label id="password-label" for="password">Şifrenizi Tekrar Giriniz</label>
                <input type="password" name="password2" id="password2" class="form-control" placeholder="Kullanıcı Şifrenizi Tekrar Giriniz" required>
            </div>

            <br>
            <br>
            <div class="form-group sub">
                <center>
                    <button type="submit" id="submit" class="submit-button">
                        Kayıt Ol
                    </button>
                </center>
            </div>
</div>
    <br>

</body>
<script src="./signup_catalytic_originals-master/form.js">
</script>
</html>
